:root {
  --md-primary-fg-color: hsla(355, 75.7%, 42.0%, 1.0);
  --md-primary-fg-color--light: hsla(355, 75.7%, 42.0%, 1.0);
  --md-primary-fg-color--dark: hsla(355, 75.7%, 42.0%, 1.0);

  --md-default-bg-color: hsla(0, 0.0%, 100.0%, 1.0);

  --md-accent-fg-color: hsla(1, 76.0%, 54.3%, 1.0);
  --md-accent-fg-color--transparent: hsla(1, 76.0%, 54.3%, 0.1);

}
